<table width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td colspan="2">
			[MAKESUGGESTION]
		</td>
	</tr>
        <tr>
		<td colspan="2">
			[PRODUCTLIST]
		</td>
	</tr>
        <tr>
		<td width="50%" valign="top">
			[MYFEEDBACK]
		</td>
		<td width="50%" valign="top">
			[FEEDBACKTRACKING]
		</td>
	</tr>
        <tr>
		<td width="50%" valign="top">
			[WHATSNEW]
		</td>
		<td width="50%" valign="top">
			[HIGHESTRATED]
		</td>
	</tr>
        <tr>
		<td width="50%" valign="top">
			[RECENTLYIMPLEMENTED]
		</td>
		<td width="50%" valign="top">
			[RECENTLYCOMMENTED]
		</td>
	</tr>	
        <tr>
		<td colspan="2">
			[STATISTICS]
		</td>
	</tr>
</table>