<tr>
	<td class="feedbackContentCell" width="100px" align="center">
		<span class="normal">
			[VOTEPOSITIVE] [THUMBSUP] &nbsp;
			[VOTENEGATIVE] [THUMBSDOWN] 	
		</span>
	</td>
	<td class="feedbackContentCell" width="125px" align="center"><a href='[PRODUCTLINK]' class="normal">[PRODUCT]</a></td>
	<td class="feedbackContentCell">
		[EDIT]
		<span class="normal"><a href='[FEEDBACKLINK]'>[TITLE]</a></span>
	</td>
	<td class="feedbackContentCell" width="100px" align="center"><span class="normal">[CREATEDATE]</span></td>
	<td class="feedbackContentCell" width="100px" align="center"><span class="normal">[DISPLAYNAME]</span></td>
	<td class="feedbackContentCell" width="75px" align="center"><span class="normal">[STATUS]</span></td>
</tr>