<table cellSpacing="1" cellPadding="0" width="100%" align="center" border="0" ID="Table1">
	<tr>
		<td class="feedbackTable">
			<table cellSpacing="1" cellPadding="3" width="100%" border="0" ID="Table2">
				<tr align="left">
					<td class="normalbold feedbackTopCell" align="center" id="FeedbackHeader">
						Make a Suggestion
					</td>
				</tr>
				<tr>
					<td class="normal feedbackContentCell">
						Suggestions are requests for changes in design or behavior of software. You can see that the software is working as designed, but you'd like better or different functionality. 
						<div align="center" class="normal">
							<a href='[SUGGESTIONLINK]'>
								Click here to make a suggestion</a>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

[PRODUCTS]