<table cellSpacing="1" cellPadding="0" width="100%" align="center" border="0" ID="Table1">
	<tr>
		<td class="feedbackTable">
			<table cellSpacing="1" cellPadding="3" width="100%" border="0" ID="Table2">
				<tr align="left">
					<td class="feedbackTopCell" align="center" id="NormalBold FeedbackHeader">Statistics
					</td>
				</tr>
				<tr>
					<td class="feedbackContentCell">
						<span class="NormalBold">
							Feedback in the last 30 days:-</span>
							<br />
							<table width="100%" cellpadding="5" cellspacing="0">
								<tr>
									<td width="33%" align="center" class="Normal">Feedback Submitted:&nbsp;[FEEDBACKSUBMITTED]</td>
									<td width="33%" align="center" class="normal">Feedback Resolved:&nbsp;[FEEDBACKRESOLVED]</td>
									<td width="33%" align="center" class="normal">Average Time Open (Days):&nbsp;[AVGTIMEOPEN]</td>
								</tr>
							</table>
							<br style="LINE-HEIGHT: 5px">
							<span class="NormalBold">Feedback for all time:-</span>
							<br>
							<table width="100%" cellpadding="5" cellspacing="0">
								<tr>
									<td width="33%" align="center" class="Normal">Feedback Submitted:&nbsp;[FEEDBACKSUBMITTEDALL]</td>
									<td width="33%" align="center" class="Normal">Feedback Resolved:&nbsp;[FEEDBACKRESOLVEDALL]</td>
									<td width="33%" align="center" class="Normal">Average Time Open (Days):&nbsp;[AVGTIMEOPENALL]</td>
								</tr>
							</table>
						</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>