<table width="100%">
<tr>
	<td class="Normal" align="left" width="100%">
		[ICON] By
		[DISPLAYNAME]
		@
		[COMMENTDATE]
		[DELETE]
                [HASATTACHMENT]<a href="[ATTACHMENTLINK]">[ATTACHMENT]</a>[/HASATTACHMENT]
	</td>
</tr>
<tr>
	<td colspan="3">
	<table cellSpacing="1" cellPadding="0" width="100%" align="center" border="0">
	<tr>

		<td class="feedbackTable">
		<table cellSpacing="1" cellPadding="3" width="100%" border="0">
		<tr>
			<td class="feedbackTextCell">
				<span class="Normal">[COMMENT]</span>
			</td>
		</tr>
		</table>

		</td>
	</tr>
		
	</table>
	</td>
</tr>
</table>