<table cellSpacing=1 cellPadding=0 width="100%" align=center border=0 ID="Table1"><tr><td class=feedbackTable>
<table cellSpacing=1 cellPadding=3 width="100%" border=0 ID="Feedback">
    <tr align=left>
          <td class=feedbackTopCell align=left id="FeedbackHeader"><span class="Normal">[TITLE] - [CUSTOM:File 1]</span></td>
    </tr>
    <tr>
		<td class="feedbackContentCell">
			<table cellpadding="4" cellspacing="0">
			<tr>
				<td align="right" width="150px">
					<span class="NormalBold">Feedback ID: </span>
				</td>
				<td class="Normal" width="150px">
					<span class="Normal">[FEEDBACKID]</span>

				</td>				
				<td align="right" width="150px">
					<span class="NormalBold">Status: </span>
				</td>
				<td class="Normal" width="150px">
					<span class="Normal">[STATUS]</span>
				</td>
			</tr>

			<tr>
				<td align="right" width="150px">
					<span class="NormalBold">Product: </span>
				</td>
				<td class="Normal" width="150px">
					<span class="Normal">[PRODUCT]</span>
				</td>				
				<td align="right" width="150px">

					<span class="NormalBold">Implemented? </span>
				</td>
				<td class="Normal" width="150px">
					<span class="Normal">[IMPLEMENTED]</span>
				</td>
			</tr>
			<tr>
				<td align="right" width="150px">
					<span class="NormalBold">Created On: </span>
				</td>
				<td class="Normal" width="150px">
					<span class="Normal">[CREATEDATE]</span>
				</td>				
				<td align="right" width="150px">
					<span class="NormalBold">Created By: </span>
				</td>

				<td class="Normal" width="150px">
					<span class="Normal">[DISPLAYNAME]</span>
				</td>
			</tr>
			<tr>
				<td align="right" width="150px" valign="top">
					<span class="NormalBold">Details: </span>
				</td>

				<td class="Normal" colspan="3">
					<span class="Normal">[DESCRIPTION]</span>
				</td>
			</tr>
			</table>
		</td>
    </tr>
</table>
</TD></TR></TBODY></TABLE>
<br style="line-height: 5px;" />
<table cellSpacing=1 cellPadding=0 width="100%" align=center border=0 ID="Table2"><tr><td class=feedbackTable>
<table cellSpacing=1 cellPadding=3 width="100%" border=0 ID="Table3">
    <tr align=left>
          <td class=feedbackTopCell align=left>
			<span class="NormalBold">Voting</span></td>
    </tr>
    <tr>
		<td class="feedbackContentCell">
			<span class="Normal">
				&nbsp;
				[THUMBSUP] [VOTEPOSITIVE]
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				[THUMBSDOWN] [VOTENEGATIVE]
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				([VOTETOTAL] votes)
			</span>
			<div>
			    <hr />
			    <div class="Normal">
			        [VOTE]
			    </div>
		    </div>
		</td>
    </tr>
</table>
</TD></TR></TBODY></TABLE>	
[COMMENTS]
[POSTCOMMENT]